/*
- Rather than have the images grow, the margins grow proportionally to fill whitespace until another octo-cat with minimum margins can fit on the line
  This requires centering, so the appearance is different ==> centering and resizing are related, address both issues simultaneously

- However, I will build in a standardized 4-wide desktop view to complete explorer mode before approaching this issue

- add @media query to resize images so four cats display in a row in desktop/laptop view
- work on paddings and margins to simulate site more accurately and clean up code
- clean up code generally
- work on adventure mode

extension => whitespace, resizing images, last row centered

*/

:root {
  font: 16px / 1 sans-serif;
  font-weight: 350;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(247, 247, 247);
}
header {
  box-shadow: 10px 5px 20px 5px rgba(216, 216, 216, 0.3);
  display: flex;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(208, 208, 208);
  justify-content: space-between;
  margin: 0rem 0rem 0.25rem 0rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0.75rem 1rem 0.75rem 0.5rem;
  margin: 0;
}

nav ul li {
  padding: 0rem 0.5rem 0rem 0.4rem;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 0.85rem;
}

.grey {
  color: rgb(57, 57, 57);
}

.back-to-github {
  position: absolute;
  right: 100%;
  padding: 0rem 1.25rem;
}
.follow-us-on-twitter {
  padding: 0rem 0.5rem 0rem 2rem;
  margin-left: 0rem;
}
.octodex {
  font-size: 1.05rem;
  padding: 0.15rem 0.3rem;
}
.octodex img {
  width: 2.7rem;
  height: 2.7rem;
}

footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 6.5em;
  padding-bottom: 1.45rem;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: rgb(84, 84, 84);
  border-top: 1px solid rgb(228, 228, 228);
  /* font: 16px / 1 'Alliance No.1' sans-serif;
  font-style: normal; */
}

/*  */

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /*if you turn this off, then work on image resizing, it should fix centering issue and resize images, will need to add flex grows for sure */
}
section article {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 350px;
}

section article ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 1rem 0rem 0rem 0rem;
  margin: 0rem 1.6rem;
  width: 325px; /* might have to change this so it scales with picture size*/
}

section article ul li {
  display: flex;
  color: rgb(99, 99, 99);
  text-decoration: none;
}

section article ul li a {
  color: black;
  text-decoration: none;
  justify-self: center;
  padding-left: 0.35rem;
}

section article a {
  display: flex;
  width: 100%; /* might have to change this so it scales with picture size*/
  justify-content: center;
}

section article a img {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5rem;
  margin: 2.25rem 0rem 0rem 0rem;
}

@media all and (min-width: 650px) {
  /* I like this distance because this option appears on horizontal i-phones, unlike the actual website*/
  .back-to-github {
    position: static;
    padding: 0rem 1rem;
  }
  nav ul {
    margin: 0.5rem 0rem 0.4rem 0rem;
  }
}

@media all and (min-width: 1280) {
}
